In [4]:
import pandas as pd

In [7]:
excel_path = "Datasets/SubclassDemand_CROPP.xlsx"
Demand = pd.read_excel(excel_path, sep = ";")
Demand.head()

,Country Group,Department,Subclass,Store Category,Total Stores Count,Avg Stcl Cnt,Store Count,Demand Avg,Demand Avg With Min/Max,Avg Stcl Cnt Max,Store Count.1,Demand Max,Demand Max With Min/Max,Avg Wsp Alokacyjny,Max Wsp Alokacyjny,Avg Wsp Alokacyjny With Min/Max,Max Wsp Alokacyjny With Min/Max
0,Non-UE,ladies' CROPP,t-shirts_s_s,A,11,137,10,84.336166,84.336166,20,10,232.726233,232.726233,7.666924,21.156930,7.666924,21.156930
1,Non-UE,ladies' CROPP,t-shirts_s_s,B,5,136,4,23.789995,23.789995,20,4,59.437176,59.437176,4.757999,11.887435,4.757999,11.887435
2,Non-UE,ladies' CROPP,t-shirts_s_s,C,7,118,7,31.042260,31.042260,17,7,77.842746,77.842746,4.434609,11.120392,4.434609,11.120392
3,Non-UE,ladies' CROPP,t-shirts_s_s,D,1,143,1,2.919945,3.000000,21,1,8.381656,8.381656,2.919945,8.381656,3.000000,8.381656
4,RUSSIA,ladies' CROPP,t-shirts_s_s,A,18,149,18,169.276232,169.276232,22,18,516.331035,516.331035,9.404235,28.685058,9.404235,28.685058

In [15]:
Best_Demand = Demand[Demand['Avg Wsp Alokacyjny'] >= 15]
Best_Demand.head()

,Country Group,Department,Subclass,Store Category,Total Stores Count,Avg Stcl Cnt,Store Count,Demand Avg,Demand Avg With Min/Max,Avg Stcl Cnt Max,Store Count.1,Demand Max,Demand Max With Min/Max,Avg Wsp Alokacyjny,Max Wsp Alokacyjny,Avg Wsp Alokacyjny With Min/Max,Max Wsp Alokacyjny With Min/Max
105,Non-UE,ladies' CROPP,jeans_trousers,A,7,59,5,120.979785,120.979785,8,5,292.958589,292.958589,17.282826,41.851227,17.282826,41.851227
281,Non-UE,men's CROPP,outer_jackets,A,7,19,6,112.708542,112.708542,2,6,228.486045,214.289278,16.101220,32.640864,16.101220,30.612754
284,RUSSIA,men's CROPP,outer_jackets,A,35,22,35,638.727455,638.727455,3,35,1281.509086,1086.162222,18.249356,36.614545,18.249356,31.033206
316,Non-UE,men's CROPP,coats,A,7,2,6,128.784275,128.784275,1,6,176.018266,156.785533,18.397754,25.145467,18.397754,22.397933
319,RUSSIA,men's CROPP,coats,A,35,3,35,637.914515,626.327555,1,35,1069.556800,894.572400,18.226129,30.558766,17.895073,25.559211

In [17]:
# Save as csv or xlsx
Best_Demand.to_excel('Datasets/Best_SubclassDemand_CROPP.xlsx')
Best_Demand.to_csv('Datasets/Best_SubclassDemand_CROPP.csv')